<div class="container pit-show">
  <div class="row">
    

   <div class="col-md-8 pit-starter-info">
     <div class="well"> 
     
   <tr>
      <td><%= image_tag avatar_url(@pit.user) %></td>
      <td><strong><%= @pit.user.name %></strong></td>
   </tr>
   <br>
   <br>
      <ul class = "pit-creator-list">
        <li>Pit Ranking</li>
        <li>Email: <%= @pit.user.email %></li>
        <li>Pits Started: <%= @pit.user.pits.count %> </li>
        <li>Convincing arguments made (14)</li>
      </ul>
   


  </div>
     <br>
        </div>
        <div class="col-md-4 pit-info">
          <div class="panel panel-default">
              <div class = "panel-heading">
                <h3>Pit Statistics</h3>
            </div>
            <div class = "panel-body">
              <ul class = "pit-info-list">
                <li>Pit Views</li>
                <li>Pit Ranking</li>
                <li>Pit Category - Book - Philosophy</li>
                <li>Convincing arguments made (1)</li>
                <li>Logical Fallacies (3)</li>
              </ul>
            </div>
          </div>
         </div>

  
  
  <div class="row">
      <div class="col-md-8">
        
<div class="well">
    <h3 class="pit-title"><%= @pit.topic %></h2>
    <p><%= @pit.summary %></p>
    <h3>Responses</h3>
    <%= render @pit.comments %>
    <%= render "comments/form" %>
</li>
 
    </div>
  </div>




 

    
    <div class="col-md-4">
      <div class = "panel panel-default">
        <div class = "panel-heading">
          <h3 class="user-list">Pit Members</h3>
        </div>
        <div class = "panel-body">
      <ul class = "pit-user-list">
        <li>Hustad</li>
        <li>User2</li>
        <li>User3</li>
        <li>User4</li>
        <li>User5</li>
        <li>User6</li>
        <li>User7</li>
        <li>User8</li>
        </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
  
  </div>
</div>
