<!DOCTYPE html>
<html>
<head>
  <script>$(document).ready(function() {
  //Set the carousel options
  $('#quote-carousel').carousel({
    pause: true,
    interval: 4000,
  });
}</script>
  <title>Fire</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<body>

      <% unless current_page?(root_path) %>

      <div class="container">
        <%= render 'layouts/header' %>
        <%= render 'layouts/header' %>
      <% end %>
      </div>

    
       
       
   


      <%= yield %>

       

  </body>
</html>



  